@import "tailwindcss";

@theme {
	--color-echo-yellow-500: #FFD130;
	--color-echo-gray-500: #393738;
	--color-echo-white-500: #FFFFFF;
	--color-echo-black-500: #1D1D1B;
}

:root {
	background-color: #1D1D1B;
	color: #fff;
}

.timer-circle {
	/* 60px em cima e em baixo */
	height: calc(100vh - 120px);
	width: calc(100vh - 120px);
}

.text-15xl {
	font-size: 15rem /* 128px */;
	line-height: 1;
}

.text-18xl {
	font-size: 18rem /* 128px */;
	line-height: 1;
}

/* NORMAL", "PREPARATION", "REST", "FINISHED */

.timer-color-scheme-normal {
	border-color: #D32F2F;
	color: #FFF;
}

.timer-color-scheme-preparation {
	color: #FFD130;
}

.timer-color-scheme-rest {
	color: #00BCD4;
}

.timer-color-scheme-finished {
	border-color: #D32F2F;
	color: #FFF;
}

.timer-color-scheme-finished .timer-step-time {
	animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
	0% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	70% {
	  opacity: 0;
	}
	90% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

/* :root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #121212;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
} */

/* button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */
